[submodule "ascon-demo/thirdparty/ascon-c"]
	path = ascon-demo/thirdparty/ascon-c
	url = https://github.com/ascon/ascon-c.git
[submodule "ahoi-serial-c/thirdparty/ascon-c"]
	path = ahoi-serial-c/thirdparty/ascon-c
	url = https://github.com/ascon/ascon-c.git
